name: Rust Tests

on:
  push:
    branches:
      - 'feature/**'
  pull_request:
    branches:
      - main
      - 'feature/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Cache cargo registry
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}

      - name: Install Stockfish
        run: |
          sudo apt-get update
          sudo apt-get install -y stockfish

      - name: Download and install fastchess
        run: |
          wget -q https://github.com/Disservin/fastchess/releases/download/v1.5.0-alpha/fastchess-linux-x86-64.tar -O fastchess.tar
          mkdir -p fastchess-bin
          tar -xf fastchess.tar -C fastchess-bin
          chmod +x fastchess-bin/fastchess-linux-x86-64/fastchess
          echo "$PWD/fastchess-bin/fastchess-linux-x86-64" >> $GITHUB_PATH

      - name: Run tests
        run: cargo test --all